#home{
    .home-box-left{
        padding-left: 100px;
        h1 {
            font-family: $font-title;
            font-size: 76px;
            text-transform: uppercase;
            color: $font-white;
            margin-bottom: 0px;
        }
        h2 {
            font-size: 24px;
            font-weight: 300;
            color: $font-white;
            margin-bottom: 60px;
        }
        .button-download-apple {
            background-color: #6146d7;
            display: inline-block;
            border-radius: 3px;
            padding: 15px 25px 15px 20px;
            p {
                color: $font-white;
                font-size: 12px;
                line-height: 26px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
                display: inline-block;
                strong{
                    text-transform: none;
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 16px;
                }
            }
            img{
                display: inline-block;
                margin-left: 65px;
                vertical-align: top;
                margin-top: 5px; 
            }
        }
    } 
}