.header-menu {
    background-color: $bg-blue-clear;
    position: sticky;
    top: 0;
    z-index: 999;
    .logo {
        padding: 25px 0;
        img {
            width: 115px;
        }
    }
    .main-menu {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        ul {
            display: inline-flex;
            list-style-type: none;
            li {
                padding: 0 15px;
                text-transform: uppercase;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .search {
        display: flex;
        align-items: center;
        img {
            width: 35px;
            cursor: pointer;
        }
    }
}