.slideshow {
    height: 420px;
    .item-slide {
        z-index: -1;
    }
    .slick{
        &-next{
            right: 0;
        }
        &-prev {
            left: 0;
            z-index: 2;
        }
        &-prev, 
        &-next {
            width:100px;
            height: 100px;
            &:before {
                font-size: 100px;
            }
        }
        &-dots {
            bottom: 31px;
            li {
                button {
                    &:before {
                        font-size: 30px;
                        color: #fff;
                    }

                }
            }
            li.slick-active button{
                &:before {
                    color: #fff;
                }
                
            }
        }
    }
}